{% extends "layout.html" %}

{% block content %}
  <h3><a href="{{users.id}}">{{users.name}}</a></h3>
  <p><a href="mailto:{{users.email}}">{{users.email}}</a></p>
  <hr/>
  <ul class="list-unstyled">
    {% for page in pages %}
      <li><a href="{{page.route}}">{{page.title}}</a></li>
    {% endfor %}
  </ul>
  <hr/>
<!--   <a href="{{user.urlTitle}}/edit" class="btn btn-primary">edit this page</a>
  <a href="{{page.urlTitle}}/delete" class="btn btn-danger">delete this page</a>
 -->
{% endblock %}
